---
const key = await Astro.locals.register("greet", async () => {
	console.log("running in the server...")
	await new Promise(resolve => setTimeout(resolve, 1000))
	return "hello";
});

console.log("shouldn't run")
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<button id="greet-button">Greet</button>
		<p id="message">Click the button!</p>
		<script>
			const buttonElement = document.getElementById("greet-button");
			const messageElement = document.getElementById("message");
			if (buttonElement instanceof HTMLButtonElement) {
				buttonElement.addEventListener("click", async () => {
					messageElement.innerText = "fetching..."
					const response = await fetch("/", {
						method: "POST",
						body: JSON.stringify({
							fnKey: "greet"
						})
					})
					const result = await response.text()
					messageElement.innerText = `result: ${result}`
				});
			}
		</script>
	</body>
</html>
